@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root{
    --pink : #F194B4;
    --orange : #FFB100;
    font-size: 16px;
}
nav{
    background : linear-gradient(90deg , var(--pink) , var(--orange));
    height: 120px;
    padding: 0px 100px;
}
nav > h3{
    font-family: Poppins;
    color: white;
    font-size: 1.5rem;
}
.form-img-div{
    margin-top: 120px;
    margin-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
label{
    width: 40%;
}
button{
    display: block;
}
.input-form{
    height: 45px;
    width: 45%;
    border: #D5D4D8 1px solid;
    border-radius: 10px;
    text-indent: 15px;
    color: rgba(241 , 148 , 180 , 0.25);
    font-family: poppins;
    font-size: 16px;
}
.input-form::placeholder{
    text-indent: 15px;
    font-family: poppins;
    color: rgba(241 , 148 , 180 , 0.25);
}
.input-form:focus{
    outline: 0;
}
.photo-btn{
    height: 45px;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: poppins;
    font-size: 16px;
    background: linear-gradient(35deg , #006C67  , #F194B4);
    width : 40%;
}
.img-div{
    position: relative;
    max-width: 30%;
}
.meme-text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom{
    bottom: 0;
}
.top{
    top: 0;
}
.margin{
    margin-left: 10%;
}
@media only screen and (max-width:1000px){
    nav{
        padding: 0 25px;
        justify-content: center;
    }
    .form-img-div{
        padding: 0px 25px;
    }
    label{
        width: 100%;
    }
    .photo-btn{
        width: 100%;
    }
    .img-div{
        max-width: 75%;
    }
}